@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background:url('../form/Certified-1200x800.jpg');
    font-family: 'Dancing Script', cursive;
    background-size: cover;
}
.quote{
    color: white;
    font-size: 35px;
    padding: 100px 5px;
    margin: 2px 100px;
}
.form{
    width: 300px;
    height: 450px;
    position: absolute;
    top: 150px;
    left: 900px;
    transform: translate(0%,-5%);
    color:rgb(241, 235, 234);
    font-size: 22px;
    background: linear-gradient(to bottom,rgb(195, 197, 196)30%,rgba(159, 223, 154, 0.7)60%);
    border-radius: 50px;
    padding: 25px;
    margin: 30px;
}
.form h2{
    width: 280px;
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 5px;
    margin: 2px;
}
.form input{
    width: 240px;
    height:35px;
    background: transparent;
    border-radius: 10px;
    padding: 3px;
    color:black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    padding-left: 35px;
    margin-left: 20px;
}
.form .link{
    font-size: 25px;
    padding-top: 1px;
    text-align: center;
    color:black;
}
.form .sn{
    color:black;
}
.link a{
    text-decoration: none;
    padding-top: 20px;
    text-align: center0;
}
.link a:hover{
    color:white;
}
.form .liw{
    font-size: 15px;
    padding-top: 1px;
    text-align: center;
    padding-bottom: 1px;
    color:black;
}
.icons a{
    text-decoration: none;
    color:#db84c8;
}
.icons ion-icon{
    color:black;
    font-size: 30px;
    padding-left: 20px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color:white;
}

.btnn{
    background: #8bb67b;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid #060606;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 125px;
    color: #060606;
}

.btnn a:hover{
    color:white;
}
.para{
    padding: 1px;
    color:black;
    padding-left: 35px;
}
.para a{
    color:black;
}
.para a:hover{
    color:white;
}
input[type="submit"]{
    background: #bbcfb4;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid #060606;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 40px;
    color: #060606;
    padding-top: 0px;
    text-align: center;
    padding-left: 10px;
}

input[type="submit"]:hover{
    color:white;
}


